*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

:root {
    --color-dark : #00001a;
    --color-yellow : #fece4a;
    --color-blue: #20aeff;
}

body {
    background: var(--color-dark);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome {
    font-size: 38px;
    color: #20AEFF;
}

#start {
    background: var(--color-yellow);
    color: var(--color-dark);
    padding: 10px 20px;
    font-size: 28px;
    border-radius: 4px 14px;
    margin-top: 20px;
    letter-spacing: 2px;
}

#start:hover {
    background: var(--color-blue);
    color: #030303;
}

#question {
    color: #20AEFF;
    padding: 10px 20px;
    margin-top: 50px;
    font-size: 32px;
}

#pays {
    color: var(--color-yellow);
    font-size: 32px;
}

ul {
    width: 200px;
}
li{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 24px;
    background: var(--color-blue);
    border-radius: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: solid 4px transparent;
}

li:hover {
    background: var(--color-yellow);
    color: var(--color-dark);
}

#compensation {
    font-size: 24px;
    margin-top: 10px;
}

#next {
    width: 200px;
    font-size: 24px;
    background: var(--color-yellow);
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color: var(--color-dark);
    border-radius: 4px;
    cursor: pointer;
    transform: translateX(12px);
}

#next:hover {
    background: rgb(47, 212, 5);
}